body {
    background: white;
    font-family: Arial, Verdana, sans-serif
}

header {
    /**background: -webkit-linear-gradient(white, );
    background: -o-linear-gradient(white, black);
    background: -moz-linear-gradient(white, black);
    background: linear-gradient(white, black);**/ 
    border-bottom: 3px solid black;
}

h1 {
   color: midnightblue
}

h2 {
    font-style: italic;
}